doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		block title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

		script(type='text/javascript', src='//code.jquery.com/jquery-3.3.1.slim.min.js' integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="   crossorigin="anonymous")
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js')


		style.
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}

		block script
		block style

	body

		block content