doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		block title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')


		style.
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}

		block script
		block style

	body

		block content