extends layout

block style
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
	link(rel='stylesheet', href='/assets/css/main.less.css')
	link(rel='stylesheet', href='/assets/lib/collapsiblejson/collapsiblejson.css')

block script
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js")
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

	script(type='text/javascript', src='//code.jquery.com/jquery-3.3.1.min.js')
	script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js')
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js")
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js")

block content
	.container
		.row
			.col-xs-2
				h4 Nav
				#navigation
			.col-xs-10
				.row
					.col-xs-12
						#preview.resizable
						#editor
						
	
	script(type="text/javascript", src="/assets/lib/collapsiblejson/collapsiblejson.js")
	script(type="text/javascript", src="/assets/xplore.js")
	script(type="text/babel", src="/assets/common.js")
	script(type="text/babel", src="/assets/menu.js")
	script(type="text/babel", src="/assets/report-editor.js")
	script(type="text/babel", src="/assets/report-preview.js")
	script(type="text/babel", src="/assets/main.js")
	script.
		$(function() {
			$("#preview").on(".resizable", (function() { console.log("resized") }))
		})
			